<!--CONTENIDO-->

<div class="row">
    <div class="text-capitalize col-12 text-center bg-primary text-white py-3">
        <h1>asistencia juridica</h1>
    </div>
</div>


<article class="container mt-2">

    <div class="row d-flex align-items-center">
        <div class="col-12 col-md-6">

            <img class="d-flex align-self-center mr-3 mt-3 img-fluid mx-auto"
                src="../../images/seguridad-y-salud-en-el-trabajo.jpg" alt="asistencia-juridica">

        </div>
        <div class="col-12 col-md-6 py-5 py-md-3">

            <p>Sí, nuestro acompañamiento esta orientado a brindar asesoría en todo lo relacionado con el
                derecho civil y laboral, no solo a tu empresa sino a tus empleados.</p>

        </div>

    </div>
</article>