<!--CONTENIDO-->
<article class="container-fluid mt-5 pt-2">
    <div class="row my-5">
        <div class="text-capitalize col-12 text-center bg-primary text-white py-3">
            <h1>asesoria mensual y/o auditoria en gestión humana</h1>
        </div>
    </div>
</article>
<section class="about-us">
    <div class="container mt-2">

        <div class="row">
            <div class="col-12">

                <img class="d-flex align-self-center mr-3 mt-3 img-fluid mx-auto"
                    src="../../images/seguridad-y-salud-en-el-trabajo.jpg" alt="gestion-humana">

            </div>
            <div class="col-12 py-5">

                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                    scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra
                    turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in
                    faucibus.</p>
                <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare
                    vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                    mus.</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo minima
                    sequi quisquam. Enim cum, dicta perferendis rerum, velit necessitatibus ratione quod saepe
                    explicabo
                    quam odit corrupti fugit officiis? Beatae, maiores.</p>
            </div>

        </div>
    </div>

</section>