<!--CONTENIDO-->
<article class="container-fluid mt-5 pt-2">
    <div class="row my-5">
        <div class="text-capitalize col-12 text-center bg-primary text-white py-3">
            <h1>plan estratégico de seguridad vial</h1>
        </div>
    </div>
</article>
<section class="content">
    <div class="container mt-2">

        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">

                <img class="d-flex align-self-center my-3 img-fluid mx-auto"
                    src="../../images/seguridad-y-salud-en-el-trabajo.jpg" alt="seguridad-vial">

            </div>
            <div class="col-12 col-md-6 col-lg-4">

                <p>Es un instrumento de planificación para las acciones, mecanismos, estrategias y medidas, que
                    deben adoptar de manera obligatoria las diferentes entidades públicas o privadas, para evitar y
                    reducir la accidentalidad de los integrantes de sus organizaciones y disminuir los efectos de
                    los accidentes de tránsito, el cual se creó en la Ley 1503 de 2011 y fue reglamentada por el
                    Decreto 2851 de 2013., donde se definen los pilares del Plan estratégico de seguridad vial con
                    el fin de definir los objetivos y las acciones o intervenciones concretas que se deben llevar a
                    cabo para alcanzar el propósito de prevenir los accidentes de tránsito. </p>

            </div>

            <div class="col-12  col-lg-4">
                <p>Todas las empresas que para el cumplimiento de sus fines misionales o en desarrollo de sus
                    actividades posean, fabriquen, ensamblen, comercialicen, contraten o administren flotas de
                    vehículos automotores y no automotores, sumados superen diez (10) y/o que por otra parte,
                    contraten o administren personal de conductores, deberán cumplir de manera obligatoria con lo
                    establecido en las normas anteriormente mencionadas.</p>


            </div>

            <div class="col-12 mt-3">
                <p>Sin embargo, la reglamentación no se limita a las empresas, también se refiere a la importancia y
                    los lineamientos de la enseñanza de la educación vial desde el preescolar, la educación media y
                    superior, pasando por el sector comunitario y llegando al sector empresarial como un actor clave
                    en la protección de los conductores.</p>
                <p>
                    La ley definió unos pilares o ejes de actuación para ordenar la creación de los planes
                    estratégicos de seguridad vial, de este modo las acciones quedarán enmarcados en las siguientes
                    esferas:

                <ul>
                    <li>Fortalecimiento de la gestión institucional</li>
                    <li>Comportamiento humano</li>
                    <li>Vehículos seguros</li>
                    <li>Infraestructura segura</li>
                    <li>Atención a víctimas.</li>
                </ul>
                </p>
            </div>



        </div>
    </div>

</section>