*{
    box-sizing: border-box;
}
html{
    font-size: 15px;
}

body{
    font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    background-color: rgb(255, 255, 255);
}

.header{
    background-color: rgba(152, 212, 162, 0.863);
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100px;
}

.header-wrapper{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
}

.header-logo{
    float: left;
    padding-left: 80px;
    padding-right: 80px;
    border: 2px solid green;
    height: 60px;
    
}

.header-menu{
    float: right;
}

.header-menu-wrapper{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    /* border: green solid 2px; */
    margin-right: 80px;
    
}

.header-menu-item{
    display: inline-block;
    font-size: 18px;
    margin: 10px;

}

.header-menu-link{
    height: 60px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: capitalize;
    text-decoration: none;
    line-height: 70px;
    font-weight: 600;
    color: rgb(56, 112, 44);
    transition: background-color 0.3s, color 0.3s;
    border-radius: 15px;


}

.header-menu-link:hover{
    background-color: rgba(116, 182, 119, 0.466);
    border-radius: 15px;
    color: rgb(64, 116, 64);
    text-decoration: none;
}

.cover{
    background-image: url('../img/portada.png');
    background-position: center;
    background-size: cover;
}

.cover-wrapper{
    
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: center;
    height: 500px;
}

.title-underline{
    text-align: center;
    color: #2e8335a1;
    font-size: 26px;
    text-transform: uppercase;
    text-decoration: underline;
}

.title-underline span{
    display: inline-block;
    border-bottom: 3px solid rgb(61, 185, 61);
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 2px black;

}

.cover-description{
    background-color: #098C44;
    color: rgb(255, 255, 255);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.cover-description h3{
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.text-center{
    text-align: center;
}

.btn-green{
    display: inline-block;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    background-color: rgba(30, 82, 30, 0.726);
    padding: 10px 15px;
    border: 3px solid rgb(104, 150, 104);
    transition: background-color 0.3s, color 0.3s;
    border-radius: 40px 300px;
    margin-bottom: 20px;
}

.btn-green:hover{
    background-color: rgb(135, 184, 125);
    color: rgb(76, 126, 53);
    text-decoration: none;
}

/* .btn-white{
    display: inline-block;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    background-color: rgba(11, 44, 82, 0.726);
    padding: 10px 15px;
    border: 3px solid rgb(180, 198, 212);
    transition: background-color 0.3s, color 0.3s;
    border-radius: 40px 300px;
    margin-bottom: 20px;
}

.btn-white:hover{
    background-color: rgb(109, 150, 211);
    color: rgb(45, 43, 185);
    text-decoration: none;
} */

.services{
    margin-top: 50px;
}

.services-wrapper{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* border: rgb(255, 0, 0) solid 1px; */
    text-align: center;
    overflow: hidden;

}

.services-item{
    display: inline-block;
    max-width: 23%;
    max-height: 33%;
    /* border: blue solid 1px; */
    margin: 10px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border-style: groove ;
    
}

.services-item-green{
    display: inline-block;
    max-width: 23%;
    max-height: 33%;
    /* border: blue solid 1px; */
    margin: 10px;
    overflow: hidden;
    background-color: #098C44;
    border-radius: 15px;
    
}

.services-item-green .services-item-description{
    color: white;
}

.services-item .services-item-title{
    color: green;
}

.services-item .services-item-description{
    color: green;
}

.services-item-img{
    padding: 10px;
    border-radius: 50%;
    width: 80%;
}

.services-item-text .btn-green{
    display: block;
    margin: 50px;
}


.services-item-title{
    font-size: 21px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    /* border: rgb(255, 255, 255) solid 1px; */
    height: 80px;
    overflow: hidden;
    margin: 10px;

}

.services-item-description{
    margin: 10%;
    font-size: 110%;
    width: 80%;
    height: 210px;
    overflow: hidden;
    font-weight: 500;
    padding: 10px;
    /* border: rgb(255, 255, 255) solid 1px; */
    /* color: rgb(255, 255, 255); */
}

.contact-form{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.contact-row{
    padding-top: 10px;
    padding-bottom: 20px;
    overflow: hidden;
    color: rgb(66, 112, 54);
    /* text-shadow: 1px 1px 2px black; */
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    /* border: red solid 1px; */
}

.contact-column{
    width: 45%;
    /* border: red solid 1px; */

}

.contact-column.left{
    float: left;
}

.contact-column.right{
    float: right;
}

.contact-column label{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    color: rgb(66, 112, 54);
    /* text-shadow: 1px 1px 2px black; */
    display: inline-block;
    padding: 0 5px;
}

.contact-column .contact-input-text{
    background: rgb(226, 248, 209);
    border: 2px solid green;

    height: 40px;
    width: 100%;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;

}


#usermessage{
    width: 100%;
    border: green solid 2px;
    background: rgb(226, 248, 209);

}

.footer{
    background-color: #098C44;
    
}

.footer-wrapper{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: left;
    /* margin-left: 20px; */
    color: white;
    font-weight: 500;
}

.footer-text{
    font-size: 18px;
    text-align: center;
}

