html {
  font-size: 15px; }

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  background-color: white; }

.bg-primary {
  background-color: #098C44 !important; }

.bg-secondary {
  background-color: #0aaf55 !important; }

.bg-third {
  background-color: white !important; }

.text-primary {
  color: #098C44 !important; }

.text-secondary {
  color: #0aaf55 !important; }

.text-third {
  color: white !important; }

.text-blue {
  color: #16a4fb; }

/*--------------------BOTONES-----------------*/
.btn-primary {
  background-color: #098C44 !important;
  border-color: #032c15 !important; }

.btn-primary:hover,
.btn-primary:focus {
  background-color: #065c2d !important; }

.btn-primary:active {
  background-color: #044421 !important;
  border-color: black !important; }

.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(9, 140, 68, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(9, 140, 68, 0.5) !important; }

.btn-secondary {
  background-color: #0aaf55 !important; }

.border-primary {
  border-color: #098C44 !important; }

/*-----------------NAVBAR--------------*/
.navbar-light .navbar-nav .nav-link {
  color: #098C44;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
  -webkit-transition: 1s;
  transition: 1s; }

.navbar-light
.navbar-nav
.active > .nav-link,
.navbar-light
.navbar-nav
.nav-link.active,
.navbar-light
.navbar-nav
.nav-link.show,
.navbar-light
.navbar-nav
.show > .nav-link {
  color: #098C44;
  font-weight: bold; }

.dropdown-item {
  -webkit-transition: background-color 0.05s, color 0.05s;
  transition: background-color 0.05s, color 0.05s;
  -webkit-transition: 1s;
  transition: 1s; }

.dropdown-item:hover {
  background-color: #0aaf55;
  color: white;
  text-decoration: none;
  width: 100%; }

.dropdown-item.active {
  color: white;
  text-decoration: none;
  background-color: #098C44; }

.navbar-light .navbar-nav .nav-link {
  -webkit-transition: background-color 0.05s, color 0.05s;
  transition: background-color 0.05s, color 0.05s;
  -webkit-transition: 1s;
  transition: 1s; }

.navbar-light .navbar-nav .nav-link:hover {
  background-color: #0aaf55;
  color: white;
  text-decoration: none;
  width: 100%; }

/*--------SERVICIOS----------------*/
.card:hover {
  -webkit-box-shadow: white 5px 5px 5px;
          box-shadow: white 5px 5px 5px; }

.card-title {
  text-transform: capitalize; }

.service-img {
  background: url(../images/imagen-grande.jpg) #098C44;
  position: relative; }

.service-img::before {
  content: "";
  background-color: #098C44;
  position: absolute;
  opacity: 0.5;
  height: 100%;
  width: 100%; }

/*----------------CONTACTO--------------------*/
.contact-input-text {
  background: #e2f8d1;
  border: 2px solid #098C44; }

#usermessage {
  width: 100%;
  border: green solid 2px;
  background: #e2f8d1; }

/*--------------FOOTER-------------*/
.footer {
  background-color: #098C44;
  margin-top: 3rem; }

/*# sourceMappingURL=style2.css.map */