<div class="row justify-content-center">
    {{#each articles}}
    <div class="col-lg-3 py-3 d-flex align-items-stretch ">
        <div class="card shadow ">
            <img src="{{images}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title text-center">
                    {{title}}
                </h4>
                <form action="/blog/article/{{_id}}" method="GET"
                    class="d-flex justify-content-center align-content-center">
                    <button type="submit" class="btn btn-info btn-md">Sabes más</button>
                </form>
            </div>
        </div>
    </div>
    {{/each}}
</div>