{{#if success_msg}}
<div class="alert alert-success alet-dismissible fade show text-center w-50 mx-auto" role="alert">
    <h4>{{success_msg}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </h4>

</div>
{{/if}}