<!--NAVBAR-->

<nav class="navbar navbar-light navbar-expand-md fixed-top bg-third border-bottom shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="/users/signin"><img width="90" id="logo-navbar" src="/images/logoGHIntegral.png"
                alt="logo-portafolio"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#principal-menu"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="principal-menu">
            <ul class="navbar-nav ml-auto text-center text-capitalize text-secondary">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about-us">Nosotros</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Servicios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {{#each services}}
                        <a class="dropdown-item text-capitalize border-bottom" href="/service/{{_id}}">{{title}}</a>
                        {{/each}}
                        {{!-- <a class="dropdown-item" href="../seguridad-y-salud">servicio y
                            salud en el
                            Trabajo</a>
                        <a class="dropdown-item" href="../seguridad-vial">plan
                            estratégico de
                            seguridad vial</a>
                        <a class="dropdown-item" href="../riesgo-psicosocial">baterias del
                            riesgo
                            psicosocial</a>
                        <a class="dropdown-item" href="../auditorias-sg-sst">auditorias en
                            SG-SST</a>
                        <a class="dropdown-item" href="../seleccion-personal">selección de
                            personal</a>
                        <a class="dropdown-item" href="../gestion-humana">asesoria mensual y/o
                            auditoria
                            en
                            gestion humana</a>
                        <a class="dropdown-item" href="../asistencia-juridica">asistencia
                            jurídica</a>
                        <a class="dropdown-item" href="../asistencia-contable">asistencia
                            contable</a> --}}
                        
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                {{!-- <li class="nav-item">
                    <a class="nav-link disabled" href="../contact-us">Contactenos</a>
                </li> --}}
            </ul>
            <ul class="navbar-nav text-center text-capitalize text-secondary">
                {{#if user}}
                <li class="nav-item dropdown dropleft">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" data-target="#menuAdmin" aria-haspopup="true" aria-expanded="false">
                    </a>
                    <div class="dropdown-menu" id="menuAdmin" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/blog/add">Agregar Articulo</a>
                        <a class="dropdown-item" href="/blog/admin-articles">Editar Articulo</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/users/add-service">Agregar Servicio</a>
                        <a class="dropdown-item" href="/users/index-admin">Editar Servicio</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/users/add-employee">Agregar Empleado</a>
                        <a class="dropdown-item" href="/users/about-us-admin">Editar Empleado</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/users/signup">Registrar Administrador</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/users/logout">Cerrar Sesión</a>
                    </div>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>