// -----------PATRON DE COLORES------------//

$text-color:rgb(0, 0, 0);
$primary-color: #098C44;
$secundary-color:#0aaf55;
$third-color:white;
$navbar-color: #ffffffeb;

//-------------FUENTE DE LETRA----------------------//

html{
    font-size: 15px;
}

body{
    font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    background-color: $third-color;
}

// -----------COLORES DE BACKGROUND------------//

.bg-primary{
    background-color: $primary-color !important;
}

.bg-secondary{
    background-color: $secundary-color !important;
}

.bg-third{
    background-color: $third-color !important;
}


.text-primary{
    color: $primary-color !important;
}

.text-secondary{
    color: $secundary-color !important;
}

.text-third{
    color: $third-color !important;
}

.text-blue{
    color: #16a4fb;
}


/*--------------------BOTONES-----------------*/

.btn-primary{
    background-color: $primary-color !important;
    border-color: darken($primary-color,20%)!important;
}

.btn-primary:hover,
.btn-primary:focus{
    background-color: darken($primary-color, 10%) !important;
}

.btn-primary:active{
    background-color: darken($primary-color, 15%) !important;
    border-color: darken($primary-color,30%) !important;

}

.btn-primary:focus{
    box-shadow: 0 0 0 0.2rem rgba($primary-color,.5) !important;
}

.btn-secondary{
    background-color: $secundary-color !important;
}

.border-primary{
    border-color: $primary-color !important;
}

/*-----------------NAVBAR--------------*/

.navbar-light .navbar-nav .nav-link {
    color: $primary-color;
    transition: background-color 0.3s, color 0.3s;
    transition: 1s;
}

.navbar-light 
.navbar-nav 
.active>.nav-link, 
.navbar-light 
.navbar-nav 
.nav-link.active,
 .navbar-light 
 .navbar-nav 
 .nav-link.show, 
 .navbar-light 
 .navbar-nav 
 .show>.nav-link {
    color: $primary-color;
    font-weight: bold;
}

.dropdown-item{
    transition: background-color 0.05s, color 0.05s;
    transition: 1s;
}

.dropdown-item:hover{
    background-color: $secundary-color;
    color: $third-color;
    text-decoration: none;
    width: 100%;
}

.dropdown-item.active{
    color: $third-color;
    text-decoration: none;
    background-color: $primary-color;
}

.navbar-light .navbar-nav .nav-link {
    transition: background-color 0.05s, color 0.05s;
    transition: 1s;
}

.navbar-light .navbar-nav .nav-link:hover {
    background-color: $secundary-color;
    color: $third-color;
    text-decoration: none;
    width: 100%;
}

/*--------SERVICIOS----------------*/

.card:hover{
    box-shadow: $third-color 5px 5px 5px;
}

.card-title{
    text-transform: capitalize;
}

.service-img{
    background: url(../images/imagen-grande.jpg) $primary-color;
    position: relative;
}

.service-img::before{
    content: "";
    background-color: $primary-color;
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 100%;
}


.carousel-item{
    position: relative;
}

.carousel-item::before{
    content: "";
    background-color: $primary-color;
    position: absolute;
    opacity: 0.6;
    height: 30%;
    width: 100%;
    bottom: 0;
}

/*----------------CONTACTO--------------------*/


.contact-input-text{
    background: rgb(226, 248, 209);
    border: 2px solid $primary-color;

}

#usermessage{
    width: 100%;
    border: green solid 2px;
    background: rgb(226, 248, 209);

}

/*--------------FOOTER-------------*/

.footer{
    background-color: $primary-color;
    margin-top: 3rem;
}
