<!--CONTENIDO-->
<div class="row">
    <div class="text-capitalize col-12 text-center bg-primary text-white py-3">
        <h1>auditorias SG-SST</h1>
    </div>
</div>
<article class="container mt-3">
    <div class="row align-items-top">
        <div class="col-12 col-md-6 mb-md-5">

            <img class=" mt-3 img-fluid mx-auto" src="../../images/seguridad-y-salud-en-el-trabajo.jpg"
                alt="auditorias-sg-sst">

        </div>
        <div class="col-12 col-md-6 ">

            <p>De acuerdo al decreto 1072 del 2015, anualmente la empresa necesita realizar una auditoria
                interna e indicadores; por la motivo, le prestamos nuestro apoyo en el cumplimiento de las
                Conformidades y No conformidades e implementar la mejora continua.</p>
            <p>De acuerdo al decreto 1072 del 2015, anualmente la empresa necesita realizar una auditoria
                interna e indicadores; por la motivo, le prestamos nuestro apoyo en el cumplimiento de las
                Conformidades y No conformidades e implementar la mejora continua.</p>

            <p>Una de las herramientas para lograr ese cometido es la auditoría interna. A través de ese proceso
                se verifica si la empresa, efectivamente, ha logrado implementar un sistema de gestión
                coherente, que se ajuste a lo exigido por la ley.</p>
        </div>

        <div class="col-12">
            <p>
                Este proceso, tiene el propósito básico de verificar el cumplimiento de la Política de Seguridad
                y Salud en el Trabajo, en una organización. Para lograrlo, evalúa 13 aspectos generales que son:

            </p>
            <ul>
                <li>Resultado de los indicadores</li>
                <li>Participación de los trabajadores</li>
                <li>Desarrollo de las responsabilidades y de la rendición de cuentas</li>
                <li>Mecanismo de comunicación de los contenidos del SG-SST</li>
                <li>Planificación, desarrollo y aplicación del SG-SST</li>
                <li>Gestión del cambio</li>
                <li>Consideración de la seguridad y la salud en el proceso de nuevas adquisiciones</li>
                <li> Alcance y aplicación del SG-SST frente a los proveedores y contratistas</li>
                <li>Supervisión y medición de resultados</li>
                <li>Proceso de investigación de incidentes, accidentes de trabajo y enfermedades laborales y
                    su efecto sobre el mejoramiento del sistema</li>
                <li>Desarrollo del proceso de auditoría interna</li>
                <li>Evaluación por la alta dirección.</li>

            </ul>
        </div>
    </div>
</article>