<!--CONTENIDO-->
<div class="row">
    <div class="text-capitalize col-12 text-center bg-primary text-white py-3">
        <h1>seguridad y salud en el trabajo</h1>
    </div>
</div>
<article class="container mt-4">

    <div class="row d-flex align-items-top">
        <div class="col-12 col-lg-4">

            <img class=" mb-5 mb-md-5 img-fluid mx-auto" src="../../images/seguridad-y-salud-en-el-trabajo.jpg"
                alt="seguridad-y-salud-en-el-trabajo">

        </div>
        <div class="col-12 col-lg-4">

            <p>
                Toda empresa desde 1 empleado debe realizar el diseño e implementación del Sistema de Gestión y
                Seguridad en el Trabajo, pero no todas tienen el tiempo ni el conocimiento para hacerlo.
                Te ayudamos con el Diseño e Implementación del Sistema de Gestión Contamos con un equipo de
                Profesionales en seguridad y salud en el trabajo, dispuestos a prestarte un excelente servicio
                en el que nos encargamos por completo de cada una de las actividades relacionadas al tema,
                siendo la cara de tu empresa en la prevención de riesgos laborales.

            </p>

        </div>

        <div class="col-12 col-lg-4">
            <p>GH integral inicialmente realiza un diagnóstico inicial del estado actual de tu empresa en caso
                de que aplique, al tener un contrato formal, agendamos la primera visita inicial a tus
                instalaciones, al tomar el servicio realizamos la recopilación de información para formalizar el
                diseño del SG SST una vez entregado el diseño, nos aseguramos del acompañamiento mensual y se
                inicia con la implementación en pro de la mejora continua.</p>
        </div>

        <div class="col-12">


            <h4>Implementación del SG SST.</h4>

            <p>En GH Integral, somos hacedores de todo lo concerniente a los procedimientos para la
                realización, actualización y mejoras del sistema de gestión.</p>

            <p>Acompañamos en todo el año procesos en las medidas de prevención de riesgos frente a
                inspecciones de seguridad, inducciones, reinducciones, capacitaciones y entrenamientos.</p>


            <p>
                Capacitaciones y entrenamientos en:
            <ul>
                <li>Inducciones y reinducciones en seguridad y salud en el trabajo.</li>
                <li>Buen uso de los elementos de protección personal.</li>
                <li>Higiene Postural, pausas activas y calistenia.</li>
                <li>Formación y acompañamiento al Copasst y/o Vigía y Comité de convivencia.</li>
                <li>Charlas generales de seguridad en la empresa.</li>
                <li>Manejo seguro de sustancias químicas.</li>
                <li>Orden y aseo en lugares de trabajo.</li>
                <li>Manejo de extintores</li>
                <li>Plan de emergencia</li>
                <li>Caídas a mismo y diferente nivel</li>
                <li>Autocuidado</li>
                <li>Trabajo en equipo</li>
            </ul>
            </p>

            <p>
                Realizamos la Construcción de la identificación de peligros evaluación y valoración de riesgos,
                matriz de requisitos legales, matriz de caracterización de accidentalidad, matriz de ausentismo
                por enfermedad general, enfermedad laboral, accidente común, accidente de trabajo, matriz de
                recursos, matriz de acciones preventivas y correctivas.
            </p>

            <p>Construcción del plan de trabajo anual y cronograma de capacitaciones.</p>
            <p>Evaluación inicial de la resolución 0312 del 2019 y del decreto 1072 del 2015.</p>
            <p>Apoyo a la conformación del copasst, convivencia laboral, brigada de emergencia, líderes de
                evacuación.</p>
            <p>Seguimiento a los accidentes de trabajo, enfermedades laborales y ausentismo en la empresa.</p>
            <p>Seguimiento a los indicadores de estructura, proceso y resultado.</p>
            <p>A través de nuestra experiencia hemos logrado la eficiencia y eficacia con nuestros servicios
                personalizados, logrando así la fidelización de nuestros clientes. </p>
        </div>

    </div>
</article>