<!--CONTENIDO-->
<div class="row">
    <div class="text-capitalize col-12 text-center bg-primary text-white py-3">
        <h1>selección de personal</h1>
    </div>
</div>
<article class="container mt-4">

    <div class="row align-items-top">
        <div class="col-12 col-md-6">

            <img class=" mt-3 img-fluid mx-auto" src="../../images/seguridad-y-salud-en-el-trabajo.jpg"
                alt="seleccion-de-personal">

        </div>
        <div class="col-12 col-md-6 py-5 py-md-2 ">

            <p>Al incluir en su Empresa nuestro Proceso de Selección, tendrá la tranquilidad de contar con el
                personal idóneo, competente y con habilidades que le permitan y le aporten al crecimiento de la
                organización.</p>
            <p>Acompañamiento que va más allá, pues fortalecemos las habilidades y competencias del recurso
                humano con seguimiento periódico que incluye evaluaciones de desempeño, generando estrategias de
                mejoramiento no sólo para el empleado sino también para la organización.</p>


        </div>

    </div>
</article>