<div class="row">
    <div class="text-capitalize col-12 text-center bg-primary text-white py-3">
        <h1>{{service.title}}</h1>
    </div>
</div>

<article class="container mt-2">

    <div class="row">
        <div class="col-12 col-lg-6 d-flex align-items-center">
            <img class="mr-3 mt-3 img-fluid mx-auto" src="{{service.image}}" alt="{{service.title}}">
        </div>
        <div class="col-12 col-lg-6 py-5">
            <p class="description_article">{{service.description}}</p>
        </div>

    </div>
</article>