<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="/images/logoGHIntegral.ico ">

    <meta name="description" content="Página de la empresa GHIntegral S.A.S" />
    <meta name="keywords" content="" />

    <title>GH Integral S.A.S</title>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link href="/css/fontawesome.css" rel="stylesheet">
    <link href="/css/brands.css" rel="stylesheet">
    <link href="/css/solid.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/style2.css">
</head>

<body onload="myFunction()">

    {{>navigation}}

    <div class="container-fluid mt-5 pt-5">
        {{>messages}}
        {{>errors}}
        {{{body}}}
    </div>



    <!-- FOOTER -->
    <footer class="footer mt-5">
        <p class="mt-2 p-3 text-center bg-secondary text-third">
            Contamos con licencia de la Seccional de Salud de Antioquia para diseñar, implementar y ejecutar el
            Sistema de Gestión en Seguridad y Salud en el Trabajo | SG-SST
        </p>
        <div class="container-fluid text-white text-center">
            <div class="row">
                <div class="col-12 col-md-4">
                    <article class="footer-article">
                        <h3>Visitanos</h3>
                        <p>Carrera 43A # 27A Sur - 86</p>
                        <p>Centro Ejecutivo La Casona | Of. 204</p>
                        <p>Envigado - Antioquia, Colombia</p>
                    </article>
                </div>
                <div class="col-12 col-md-4 my-3">
                    <article class="footer-article">
                        <h3>Contáctenos</h3>
                        <p>comercial@ghintegral.com.co</p>
                        <p>Tel. +57 (4) 444 7984</p>
                        <p>Cel. +57 316 425 3902</p>
                    </article>
                </div>
                <div class="col-12 col-md-4 mb-2">
                    <article class="footer-article">
                        <h3>Siguenos</h3>
                        <!--Facebook-->
                        <a href="https://www.facebook.com/ghintegralsas1/" class="btn-floating btn-lg btn-fb btn-ins text-decoration-none"
                            type="button" role="button" target="_blank">
                            <i class="fab fa-facebook text-blue mx-1"></i><span class="text-white ">Facebook</span></a>
                        <!--Instagram-->
                        <a href="https://instagram.com/ghintegralsas?igshid=166nxp4gfnx64"
                            class="btn-floating btn-lg btn-ins text-white text-decoration-none" type="button" role="button" target="_blank">
                            <i class="fab fa-instagram  mx-1"></i><span class="text-white ">Instagram</span></a>
                        <!--Whatsapp-->
                        <a href="https://api.whatsapp.com/send?phone=573164253902"
                            class="btn-floating btn-lg btn-ins text-white text-decoration-none" type="button" role="button" target="_blank">
                            <i class="fab fa-whatsapp text-secondary mx-1"></i><span>Whatsapp</span> </a>

                    </article>
                </div>
            </div>
        </div>
        <div class="mt-2 py-2 text-center text-md-right bg-dark px-3 text-white">
            <p>© 2020 GH Integral S.A.S. - Todos los derechos reservados</p>
        </div>
    </footer>

    <!-- JAVASCRIPT -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"></script>
    <script src="/js/spacing.js"></script>


</body>

</html>