<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-header">
                <h3>Nuevo Servicio</h3>
                <div class="card-body">
                    <form action="/users/add-service" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="text" name="title" class="form-control" placeholder="Titulo" autofocus>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlFile1">Ingrese portada del Servicio</label>
                            <input type="file" class="form-control-file" name="img_file_service"
                                id="exampleFormControlFile1">
                        </div>
                        <div class="form-group">
                            <textarea name="introduction" placeholder="Introducción corta" rows="5"
                                class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <textarea name="description" placeholder="Descripción" rows="20" id="description_add"
                                class="form-control"></textarea>
                        </div>

                        <div class="form-group col-8">
                            <label for="inputState">Seleccione el link del Servicio: </label>
                            <select id="inputState" class="form-control" name="route">
                                <option>/asistencia-contable</option>
                                <option>/asistencia-juridica</option>
                                <option>/auditorias-sg-sst</option>
                                <option>/gestion-humana</option>
                                <option>/riesgo-psicosocial</option>
                                <option>/seguridad-vial</option>
                                <option>/seguridad-y-salud</option>
                                <option>/seleccion-personal</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block">
                                Agregar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

