<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card shadow">
            <div class="card-header">
                <h3>Nuevo Empleado / Sección Sobre Nosotros</h3>
                <div class="card-body">
                    <form action="/users/add-employee" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="Nombre" autofocus required>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlFile1">Ingrese imagen de perfil</label>
                            <input type="file" class="form-control-file" name="img_file_employee" id="exampleFormControlFile1" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="position" class="form-control" placeholder="Cargo en la empresa" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="facebook" class="form-control" placeholder="Ingrese URL de Facebook" >
                        </div>
                        <div class="form-group">
                            <input type="text" name="twitter" class="form-control" placeholder="Ingrese URL de Twitter" >
                        </div>
                        <div class="form-group">
                            <input type="text" name="instagram" class="form-control" placeholder="Ingrese URL de Instagram" >
                        </div>
                        <div class="form-group">
                            <input type="text" name="linkedin" class="form-control" placeholder="Ingrese URL de LinkedIn" >
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-block">
                                Agregar Empleado
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>